.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: var(--hover0color);
    }
    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 12px;
    }

    .info {
        .name {
            display: flex;
            align-items: center;

            h4 {
                margin-right: 4px;
                font-weight: 600;
                line-height: 1 !important;
            }

            .icon {
                color: #20d5ec;
            }
        }

        .userName {
            font-weight: 300;
            font-size: 1.2rem;
            color: var(--icon-color);
        }
    }
}
