.wrapper {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.header {
    height: var(--header-height);
    width: var(--layout-width);
    margin: auto;
    background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
}
