@import 'normalize.css';

:root {
    --header-height: 60px;
    --layout-width: 1150px;
    --border-color: #d4d5d7;
    --back: black;
    --white: white;
    --icon-color: #a7a7ab;
    --hover0color: #16182308;
    --text-color: #333;
    --primary: #fe2c55;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);

    .tippy-box {
        background-color: #545454eb;
        border-radius: 8px;
        font-weight: 600;
        line-height: 2.2rem;
    }

    .tippy-content {
        padding: 10px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        color: #545454eb;
        top: -8px;
    }
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url('/assets/fonts/zYXgKVElMYYaJe8bpLHnCwDKhd7eFb5N.woff2');
    font-weight: 600;
}

img {
    width: 100%;
    display: block;
}

button,
input {
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
