// .wrapper {
//     width: 1150px;
//     margin: auto;
// }

.container {
    display: grid;
    width: var(--layout-width);
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    min-height: 1000px;
}

.content {
    grid-column: span 4;
    // background-image: linear-gradient(to bottom right, #72ffb6, #10d164);
}
